:root {
  --font: rgb(50, 15, 107);
  --purple: rgb(123, 66, 255, 0.6);
  --blue: rgb(5, 217, 255, 0.6);
  --blueDark: rgba(5, 217, 255, 0.9);
  --yellow: rgba(255, 232, 155, 0.6);
  --purpleGradient: linear-gradient(306deg, rgba(123,66,255,1) 0%, rgba(128,129,255,1) 100%);
  --purpleGradientLight: linear-gradient(306deg, rgba(123,66,255,0.4) 0%, rgba(128,129,255,0.4) 100%);
}

.linearGrad {
  background: rgb(197,217,252);
  background: linear-gradient(300deg, rgba(197,217,252,0.7) 0%, rgba(236,220,243,0.7) 100%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;left:0;
  z-index: -1;
}
#hide {
  display:none;
}
#loader {
  font-size: 20px;
  display: none;
  justify-content: center; align-items: center; text-align: center; width: 100%;
  display: block; z-index: 900000; height: 200px; margin-top: -150vh; 
}
.left {
  margin-left: 12.5px;
}
.lds-defaultTwo {
position: relative;
width: 80px;
height: 80px;
transform: scale(0.6); margin-top: -25px;
}
.lds-defaultTwo div {
position: absolute;
width: 6px;
height: 6px;
background: #fff;
border-radius: 50%;
animation: lds-default 1.2s linear infinite;
}
.lds-defaultTwo div:nth-child(1) {
animation-delay: 0s;
top: 37px;
left: 66px;
}
.lds-defaultTwo div:nth-child(2) {
animation-delay: -0.1s;
top: 22px;
left: 62px;
}
.lds-defaultTwo div:nth-child(3) {
animation-delay: -0.2s;
top: 11px;
left: 52px;
}
.lds-defaultTwo div:nth-child(4) {
animation-delay: -0.3s;
top: 7px;
left: 37px;
}
.lds-defaultTwo div:nth-child(5) {
animation-delay: -0.4s;
top: 11px;
left: 22px;
}
.lds-defaultTwo div:nth-child(6) {
animation-delay: -0.5s;
top: 22px;
left: 11px;
}
.lds-defaultTwo div:nth-child(7) {
animation-delay: -0.6s;
top: 37px;
left: 7px;
}
.lds-defaultTwo div:nth-child(8) {
animation-delay: -0.7s;
top: 52px;
left: 11px;
}
.lds-defaultTwo div:nth-child(9) {
animation-delay: -0.8s;
top: 62px;
left: 22px;
}
.lds-defaultTwo div:nth-child(10) {
animation-delay: -0.9s;
top: 66px;
left: 37px;
}
.lds-defaultTwo div:nth-child(11) {
animation-delay: -1s;
top: 62px;
left: 52px;
}
.lds-defaultTwo div:nth-child(12) {
animation-delay: -1.1s;
top: 52px;
left: 62px;
}
.lds-default {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.white div {
  background: white;
}
.purpleD div {
  background: var(--purple);
}
.fontD div {
  background: var(--font);
}
.lds-default div {
position: absolute;
width: 6px;
height: 6px;
border-radius: 50%;
animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
animation-delay: 0s;
top: 37px;
left: 66px;
}
.lds-default div:nth-child(2) {
animation-delay: -0.1s;
top: 22px;
left: 62px;
}
.lds-default div:nth-child(3) {
animation-delay: -0.2s;
top: 11px;
left: 52px;
}
.lds-default div:nth-child(4) {
animation-delay: -0.3s;
top: 7px;
left: 37px;
}
.lds-default div:nth-child(5) {
animation-delay: -0.4s;
top: 11px;
left: 22px;
}
.lds-default div:nth-child(6) {
animation-delay: -0.5s;
top: 22px;
left: 11px;
}
.lds-default div:nth-child(7) {
animation-delay: -0.6s;
top: 37px;
left: 7px;
}
.lds-default div:nth-child(8) {
animation-delay: -0.7s;
top: 52px;
left: 11px;
}
.lds-default div:nth-child(9) {
animation-delay: -0.8s;
top: 62px;
left: 22px;
}
.lds-default div:nth-child(10) {
animation-delay: -0.9s;
top: 66px;
left: 37px;
}
.lds-default div:nth-child(11) {
animation-delay: -1s;
top: 62px;
left: 52px;
}
.lds-default div:nth-child(12) {
animation-delay: -1.1s;
top: 52px;
left: 62px;
}
@keyframes lds-default {
0%, 20%, 80%, 100% {
  transform: scale(1);
}
50% {
  transform: scale(1.5);
}
}

#fb-root {
  z-index: 90000;
  height: 60vh;
  align-items: center;
  display: flex;
}
.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hashtagTitle {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 200;
  margin-top: 50px;
}
.hashtagDesc {
  font-size: 20px;
  font-weight: 200;
  margin-top: 10px;
}
.hashtagList {
  margin-top: 50px;
}
.innerHashtagList {
  width: 500px;
  height: 400px;
  background: rgba(255, 255, 255, 0.301);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.theListItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300px;
  justify-content: space-between;
}
.theListItem h1 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}
.theListItem h2 {
  font-weight: 200;
  font-size: 18px;
}

.btnContainLog {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 10px 20px;
  background: black;
  color: white; 
  border: none; 
  border-radius: 5px; text-transform: capitalize;
  text-align: center; font-family: poppins, sans-serif;
  font-weight: 200; outline: none; height: auto;
}



/* DASHBOARD */
.dashFlex {
  width: 100vw;
  display: flex;
}
.btnHolder {
  right: 0;
  top: 0;
  padding-top: 50px;
  height: calc(100vh - 50px);
  float: right;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:25px;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
}
.mainSection {
  width: calc(100vw - 300px - 250px); 
  font-family: poppins;
  color: var(--font); font-size: 20px;
  padding-left: 50px;
}
.leftPanel {
  width: 250px;
  float:left;
  height: auto; top: 0; background: transparent;
  margin-top: -30px; padding-top: 50px; gap: 20px;
  padding-left: 10px;
  /* display: flex; flex-direction: column; justify-content: space-evenly; */
  display: grid; grid-template-columns: repeat(2, 100px); grid-template-rows: repeat(4, 250px);
}
.widget {
  width: 200px; height: 250px; border-radius: 5px; background: rgba(255, 255, 255, 0.603);
}
.widget0 {
  grid-column: 1/span 2; grid-row: 1/span 1;
}
.widget1 {
  grid-column: 1/span 2; grid-row: 2/span 1;
}
.widget2 {
  grid-column: 1/span 2; grid-row: 3/span 1;
}
.widget3 {
  grid-column: 1/span 2; grid-row: 4/span 1;
}
.widgImg {
  width: 200px; height: 200px; border-radius: 5px; background-size:cover; background-position: center;
}
.head {
  font-family: poppins; font-weight: 700; color: var(--font); font-size: 40px;
  margin-top: 50px; display: flex; padding-bottom: 20px;
}
.insights {
  margin-top: 25px; border-radius: 5px; font-size: 18px;
  padding-left: 25px; padding-top: 25px; font-weight: 300;
  display: flex; flex-direction: column;
  width: 350px; height: 140px; background: rgba(255, 255, 255, 0.61);
}
.week {
  font-family: 200; color: grey; font-size: 14px; text-transform: uppercase;
}

.iBtn {
  width: 375px; background: var(--purple); height: 35px; margin-left: -25px; border-radius: 2.5px;
}
.flexMain {
  display: flex; flex-direction: column; justify-content: space-between; height: 100%;
}
.headAvatar {
  width: 50px; height: 50px; margin-right: 10px; 
  border-radius: 50%; background-position: center; background-size: cover;
}
.headAvatar span {
  margin-left: 5px;
}


.btnDash {
  width: 160px;
  padding: 12.5px 20px;
  height: auto;
  background: transparent;
  color: white;
  font-weight: 500;
  border-radius: 2.5px;
  text-align: center;
  font-family: poppins, sans-serif;
  border: none; cursor: pointer;
}
.purple {
  background: var(--purple);
}
.purpleGradient {
  background: var(--purpleGradient);
}
.yellow {
  background: var(--yellow);
}
.blue {
  background: var(--blueDark);
}
#shadow1 {
  box-shadow: 
  0px -10px 5px -10px var(--purple) inset, /*TOP*/
  0px 5px 5px 0px white inset,  /*BTM*/
  5px 0px 5px 0px white inset, /*RIGHT*/
  -5px 0px 5px -2px var(--purple) inset; /*LEFT*/
}
.btnBlur {
  display: block;
  width: 200px; position: absolute;
  background: var(--font); z-index: -1; 
  margin-top: 185px; height: 45px; filter: blur(10px); margin-left: 12.5px;
}
.btnBlur2 {
  display: none;
}
#shadow2 {
  box-shadow: 
  0px -10px 6px -6px white inset, /*TOP*/
  0px 5px 7px -4px var(--purple) inset,  /*BTM*/
  5px 0px 7px -4px var(--purple) inset, /*RIGHT*/
  -5px 0px 6px 0.1px white inset; /*LEFT*/
}

.dashboardLoader {
  width: 100vw;
  height: 100vh;
  position: fixed; top: 0; left: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 20; display: flex; align-items: center; justify-content: center;
}
.dashboardBlurLoader {
  width: 100vw;
  height: 100vh;
  position: fixed; top: 0; left: 0;
  backdrop-filter: blur(10px);
  z-index: 19; 
}
.btnPage {
  width: 100vw;
  height: 95vh;
  display: flex; align-items: center; justify-content: center;
  flex-direction: column; color: var(--font);
}
.btnPageName {
  font-family: poppins, sans-serif;
  font-size: 34px; font-weight: 700;
  margin-bottom: 50px; margin-top: -120px;
}
.btnPageInfo {
  font-family: poppins, sans-serif;
  font-size: 18px; font-weight: 300;
  width: 60vw; height: auto;
  margin-bottom: 50px; text-align: center;
}
.btnPageLink {
  background: rgb(18,87,233);
  background: linear-gradient(250deg, rgba(18,87,233,1) 0%, rgba(77,130,242,1) 100%);
  color: white;
  font-family: poppins, sans-serif;
  font-size: 18px; font-weight: 600;
  padding: 15px 45px; text-decoration: none;
  border-radius: 5px;
}

.flexError {
  display: flex; flex-direction: column; 
  justify-content: center; align-items: center;
  width: 100vw; height: 65vw;
  font-family: poppins, sans-serif; color: var(--font);
}
.flexError h1 {
  font-size: 26px; font-weight: 600; width: 500px; text-align: center;
}
.flexError a {
  background: var(--purple);
  padding: 20px 50px; border-radius: 5px; font-weight: 600; margin-top: 50px; text-decoration: none;
}